@import "tailwindcss";

@theme {
  /* Declaramos las utilidades de animación */
  --animate-shake: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  --animate-flash-red: flashRed 0.4s ease-in-out;

  /* Declaramos los keyframes de la sacudida */
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-4px); }
    20%, 40%, 60%, 80% { transform: translateX(4px); }
  }

  /* Declaramos los keyframes del destello de daño */
  @keyframes flashRed {
    0%, 100% { filter: brightness(1) sepia(0) hue-rotate(0) saturate(1); }
    50% { filter: brightness(1.5) sepia(1) hue-rotate(-50deg) saturate(7); }
  }
}